<div class="container-fluid">
    <div class="row align-items-center p-3" id="machine-title">
        <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-clipboard2"></i> productos</h1>
    </div>
    <div class="row align-items-center py-4 gy-2 px-2">
        <div class="col-md-6">
            <form action="/products/" method="post" role="search">
                <div class="input-group">
                    <button class="btn btn-danger border border-danger border-end-0" type="submit" id="products-search-btn"><i class="bi bi-search"></i></button>
                    <input type="text" class="form-control border-danger border-2 w-50" placeholder="Buscar por..." aria-describedby="button-addon1" name="buscar" id="buscar">
                    <select name="productSearchField" id="productSearchField" class="form-select border-danger border-2 border-start-0">
                        <option value="nombre">Nombre</option>
                        <option value="unidad">Unidad Medida</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="btn-toolbar justify-content-between" role="toolbar">
                <div class="btn-group me-3">
                </div>
                <div class="btn-group">
                    <a href="/products/add" class="btn btn-outline-success border-success border-2" role="button"><i class="bi bi-clipboard2-plus"></i> Añadir producto</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center p-4 pt-0">
        <p class="fs-5 p-2 m-0" id="machine-add-title">Productos registrados</p>
    </div>
    <div class="row p-4 pt-0">
        <div class="table-responsive-xxl p-0">
            <table class="table table-striped align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Detalles</th>
                        <th scope="col">Unidad de Medida</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">Proceso</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each products}}
                        <tr>
                            <th scope="row">P-{{productoId}}</th>
                            <th>{{nombre}}</th>
                            <th>{{descripcion}}</th>
                            <th>{{unidad}}</th>
                            <th>{{precio}}</th>
                            <th>{{porcentaje}}</th>
                            <th>{{proceso_id}}</th>
                            <th><a href="/products/edit/{{productoId}}" class="btn btn-sm btn-secondary"><i class="bi bi-pencil-square"></i> Editar</a></th>
                        </tr>
                    {{else}}
                        <tr>
                            <th colspan="10">No existen productos registrados...</th>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>