<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-journal-bookmark-fill"></i> Órdenes</h1>
</div>
<div class="row p-4 gy-4 justify-content-md-between">
    <div class="btn-toolbar justify-content-start flex-md-row flex-column p-0" role="toolbar">
        {{#with cotizacion}}
            {{#checkPermission ../user.permisos "editOrders"}}
                <div class="btn-group" role="group">
                    <button class="btn btn-danger me-0 me-md-3 mb-3 mb-md-0" id="cancel-order" type="button" {{#with ../permitidoCancelar}} {{#if permitidoCancelar}} {{#equalOR ../estatusOrden "Cancelada" "En proceso"}} disabled {{/equalOR}} {{else}} disabled {{/if}} {{/with}}><i class="bi bi-x-octagon"></i> Cancelar</button>
                </div>
            {{else}}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                    <div class="btn-group w-100" role="group">
                        <button class="btn btn-danger me-0 me-md-3 mb-3 mb-md-0" id="cancel-order" type="button" disabled><i class="bi bi-x-octagon"></i> Cancelar</button>
                    </div>
                </span>
            {{/checkPermission}}

            {{#checkPermission ../user.permisos "editOrders"}}
                <div class="btn-group" role="group">
                    <a href="/orders/revalue/{{ordenId}}" class="btn btn-warning me-0 me-md-3 mb-3 mb-md-0 {{#equal estatusOrden "Cancelada"}} disabled {{/equal}}" role="button" {{#equal estatusOrden "Cancelada"}} tabindex="-1" aria-disabled="true" {{/equal}}><i class="bi bi-currency-exchange"></i> Revaluar</a>
                </div>
            {{else}}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                    <div class="btn-group w-100" role="group">
                        <a href="/orders/revalue/{{cotId}}" class="btn btn-warning me-0 me-md-3 mb-3 mb-md-0 disabled" role="button" tabindex="-1" aria-disabled="true"><i class="bi bi-currency-exchange"></i> Revaluar</a>
                    </div>
                </span>
            {{/checkPermission}}

            {{#checkPermission ../user.permisos "seeListOrders"}}
                <div class="btn-group" role="group">
                    <a href="/orders/download/{{ordenId}}" class="btn btn-primary me-0 me-md-3 mb-3 mb-md-0" role="button"><i class="bi bi-file-earmark-arrow-down"></i> Descargar PDF</a>
                </div>
            {{else}}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                    <div class="btn-group w-100" role="group">
                        <a href="/orders/download/{{ordenId}}" class="btn btn-primary me-0 me-md-3 mb-3 mb-md-0 disabled" role="button" tabindex="-1" aria-disabled="true"><i class="bi bi-file-earmark-arrow-down"></i> Descargar PDF</a>
                    </div>
                </span>
            {{/checkPermission}}

            {{#checkPermission ../user.permisos "editOrders"}}
                <div class="btn-group" role="group">
                    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#orders-add-deadline" {{#with ../permitidoCancelar}} {{#if permitidoCancelar}} {{#equalOR ../estatusOrden "Cancelada" "En proceso"}} disabled {{/equalOR}} {{else}} disabled {{/if}} {{/with}}><i class="bi bi-journal-check"></i> Enviar a producción</button>
                </div>
            {{else}}
                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                    <div class="btn-group w-100" role="group">
                        <button class="btn btn-success" type="button" disabled><i class="bi bi-journal-check"></i> Enviar a producción</button>
                    </div>
                </span>
            {{/checkPermission}}
        {{/with}}
    </div>
</div>
<div class="row p-4 pt-0 gy-4 justify-content-md-between">
    <div class="col-md-5">
        <div class="row">
            <img src="/img/PIMSAlogo.png" alt="Logo PIMSA" class="img-fluid d-block mx-auto" style="width: 70vh;">
        </div>
        <div class="row mt-3">
            <div class="row m-0 text-center bg-danger text-white">
                <p class="fs-6 p-1 m-0">Información de la orden</p>
            </div>
            {{#with cotizacion}}
                <div class="row row-cols-2 row-cols-md-4 p-0 m-0 bg-light">
                    <div class="col py-2 fw-bold border-bottom border-2">
                        No. orden:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        OT-{{ordenId}}
                    </div>
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Estatus:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{estatusOrden}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-4 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Cotización asociada:
                    </div>
                    <div class="col-6 col-md-8 py-2 d-flex align-items-center border-bottom border-2">
                        COT-{{cotId}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-4 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Fecha de generación:
                    </div>
                    <div class="col-6 col-md-8 py-2 d-flex align-items-center border-bottom border-2">
                        {{formatDate fechaGen}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-4 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Fecha de entrega:
                    </div>
                    <div class="col-6 col-md-8 py-2 d-flex align-items-center border-bottom border-2">
                        {{#equal fechaEnt "-"}}
                            Sin asignar
                        {{else}}
                            {{formatDateOnlyDate fechaEnt}}
                        {{/equal}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-4 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Proyecto:
                    </div>
                    <div class="col-6 col-md-8 py-2 d-flex align-items-center border-bottom border-2">
                        {{proyecto}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-4 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Empleado:
                    </div>
                    <div class="col-6 col-md-8 py-2 d-flex align-items-center border-bottom border-2">
                        {{nombreComp}}
                    </div>
                </div>
            {{else}}
                <div class="row p-0 m-0 bg-light">
                    <div class="col-12 py-2 d-flex align-items-center justify-content-center fw-bold border-bottom border-2">
                        No existe información sobre esta orden
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="row m-0 text-center bg-danger text-white">
                <p class="fs-6 p-1 m-0">Información del cliente</p>
            </div>
            {{#with cotizacion}}
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Solicitante:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2">
                        {{solicitante}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Cliente:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2">
                        {{nombre}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Empresa:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2">
                        {{razonSocial}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        RFC:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2">
                        {{rfc}}
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-4 p-0 m-0 bg-light">
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Estado:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domEstado}}
                    </div>
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Municipio:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domCiudad}}
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-4 p-0 m-0 bg-light">
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Colonia:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domColonia}}
                    </div>
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Código postal:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domCp}}
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-4 p-0 m-0 bg-light">
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Calle:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domCalle}}
                    </div>
                    <div class="col py-2 fw-bold border-bottom border-2">
                        Número:
                    </div>
                    <div class="col py-2 border-bottom border-2">
                        {{domNumEx}} {{#if domNumIn}}Int {{domNumIn}}{{/if}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Teléfono:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2">
                        {{#if telefonoExt}}Ext {{telefonoExt}}{{/if}} {{telefono}}
                    </div>
                </div>
                <div class="row p-0 m-0 bg-light">
                    <div class="col-6 col-md-3 py-2 d-flex align-items-center fw-bold border-bottom border-2">
                        Correo electrónico:
                    </div>
                    <div class="col-6 col-md-9 py-2 d-flex align-items-center border-bottom border-2 text-break">
                        {{correoElec}}
                    </div>
                </div>
            {{else}}
                <div class="row p-0 m-0 bg-light">
                    <div class="col-12 py-2 d-flex align-items-center justify-content-center fw-bold border-bottom border-2">
                        No existe información sobre este cliente
                    </div>
                </div>
            {{/with}}
        </div>
    </div>
</div>
<div class="row p-4 pt-0 justify-content-md-between">
    <div class="row m-0 text-center bg-danger text-white">
        <p class="fs-6 p-1 m-0">Información de los productos</p>
    </div>
    {{#each productos}}
    <div class="row m-0 p-0">
        <div class="card {{#equal @index 0}}mt-0{{else}}mt-4{{/equal}} px-0 rounded-0 border border-2">
            <div class="card-body p-0">
                <div class="row mx-0 px-0">
                    <div class="col-md-1">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Cantidad</p>
                        </div>
                        <div class="row py-2 my-4">
                            <p class="fs-6 p-0 m-0 text-center">{{cantidad}}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Producto</p>
                        </div>
                        <div class="row py-2">
                            <div class="row mb-2 mb-md-0">
                                <div class="col-md-3">
                                    <b>Producto:</b> 
                                </div>
                                <div class="col-md-9">
                                    {{#if nombre}}
                                        {{nombre}}
                                    {{else}}
                                        {{concepto}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="row mb-2 mb-md-0">
                                <div class="col-md-3">
                                    <b>Acabados:</b>
                                </div>
                                <div class="col-md-9 ">
                                    {{acabados}}
                                </div>
                            </div>
                            <div class="row mb-2 mb-md-0">
                                <div class="col-md-3">
                                    <b>Archivo:</b>
                                </div>
                                <div class="col-md-9">
                                    {{archivo}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Precio por unidad</p>
                        </div>
                        <div class="row py-2 my-4">
                            {{#equal unidad "Mt"}}
                                <p class="fs-6 p-0 m-0 text-center">$ {{formatNumber precio}} (x {{unidad}}²)</p>
                            {{else}}
                                <p class="fs-6 p-0 m-0 text-center">$ {{formatNumber precio}} (x {{unidad}})</p>
                            {{/equal}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Dimensiones</p>
                        </div>
                        {{#equal unidad "Mt"}}
                            <div class="row py-2 my-2">
                                <p class="fs-6 p-0 m-0 text-center">{{formatNumberMeasure area}} mts²</p>
                                <p class="fs-6 p-0 m-0 text-center">(L) {{formatNumberMeasure largo}} mts x (A) {{formatNumberMeasure ancho}} mts</p>
                            </div>
                        {{else}}
                            <div class="row py-2 my-4">
                                <p class="fs-6 p-0 m-0 text-center">No aplica</p>
                            </div>
                        {{/equal}}
                    </div>
                    <div class="col-md-1">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Precio c/u</p>
                        </div>
                        <div class="row py-2 my-4">
                            {{#equal unidad "Mt"}}
                                <p class="fs-6 p-0 m-0 text-center">$ {{formatNumber precioCadaUno}}</p>
                            {{else}}
                                <p class="fs-6 p-0 m-0 text-center">$ {{formatNumber precio}}</p>
                            {{/equal}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row py-2 bg-body-tertiary border-bottom border-1">
                            <p class="fs-6 p-0 m-0 text-center fw-bold">Monto</p>
                        </div>
                        <div class="row py-2 my-4">
                            <p class="fs-6 p-0 m-0 text-center">$ {{formatNumber monto}}</p>
                        </div>
                    </div>
                </div>
                <div class="row px-0 mx-0 py-2 border-top border-2">
                    <div class="d-flex align-items-center">
                        <button class="btn btn-sm btn-outline-primary mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProcess{{@index}}" aria-expanded="false" aria-controls="multiCollapseExample2">
                            <i class="bi bi-question-lg"></i>
                        </button>
                        <p class="fs-6 p-0 m-0"><b>Proceso asociado:</b> {{procesoNombre}}</p>
                    </div>
                </div>
                <div class="row px-0 mx-0 justify-content-end">
                    <div class="col-md-12">
                        <div class="collapse" id="collapseProcess{{@index}}">
                            <ul class="list-group list-group-item-light p-3 pt-2">
                                {{#each ordenAreas}}
                                    <li class="list-group-item text-capitalize">{{this}}.- {{lookup ../areas @index}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
        <div class="row m-0 p-0">
            <div class="card mt-4 px-0 rounded-0 border border-2">
                <div class="card-body">
                    <p class="fs-6 p-0 m-0 text-center fw-bold">No existen productos ordenados</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<div class="row p-4 gy-4 pt-0 justify-content-md-between">
    <div class="col-md-8 p-0">
        {{#with cotizacion}}
            <p class="fs-6"><b>Observaciones:</b></p>
            {{observaciones}}
        {{else}}
            <p class="fs-6"><b>Sin información sobre las observaciones</b></p>
        {{/with}}
    </div>
    <div class="col-md-3 p-0">
        {{#with cotizacion}}
            <table class="table-responsive-md align-middle table-light w-100">
                <tbody>
                    <tr>
                        <th scope="row" class="text-start">Bruto:</th>
                        <td class="text-end">$ {{formatNumber totalBruto}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Descuento ({{formatNumberMeasure porcentajeDescuento}} %):</th>
                        <td class="text-end">- $ {{formatNumber descuento_cotizacion}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">Subtotal:</th>
                        <td class="text-end">$ {{formatNumber subtotal}}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-start">IVA (16 %):</th>
                        <td class="text-end">+ $ {{formatNumber iva}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row m-0 pt-4">
                <div class="col-md-12 p-0 text-center border border-dark border-2">
                    <p class="fs-4 p-2 m-0 pb-0">Total:</p>
                    <p class="fs-4 p-2 m-0 pt-0">$ {{formatNumber total}}</p>
                </div>
            </div>
        {{else}}
            <td class="2">No existe información sobre la cotización</td>
        {{/with}}
    </div>
</div>

{{!-- Toast cancel confirmation --}}
<div class="toast-container top-0 start-50 translate-middle-x mt-2">
    <div id="cancel-order-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header text-bg-warning" data-bs-theme="light">
            <i class="bi bi-exclamation-circle me-2"></i>
            <strong class="me-auto">Advertencia</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-light">
            ¿Desea cancelar esta orden?
            <div class="mt-2 pt-2 border-top">
                <div class="row justify-content-end">
                    <div class="col-md-auto">
                        <button type="button" class="btn btn-danger btn-sm me-2" data-bs-dismiss="toast">Rechazar</button>
                        <a class="btn btn-success btn-sm" href="/orders/cancel/{{#with cotizacion}}{{ordenId}}{{/with}}" role="button">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- Modal send to production --}}
<div class="modal fade" id="orders-add-deadline" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h1 class="modal-title fs-5">Enviar a producción</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/orders/addDeadline/{{#with cotizacion}}{{ordenId}}{{/with}}" method="post" class="needs-validation" id="add-deadline-order-form" novalidate>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="deadline" class="form-label">Fecha de entrega:</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-calendar2-event"></i></span>
                                <input type="date" name="deadline" id="deadline" class="form-control border-dark border-2 rounded-end" min="{{#with fechaMinima}}{{this}}{{/with}}" required>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalid-feedback-deadline"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="add-deadline-order-form" class="btn btn-sm btn-success">Enviar</button>
            </div>
        </div>
    </div>
</div>