<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-journal-bookmark-fill"></i> Órdenes</h1>
</div>
<div class="row p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Órdenes registradas</p>
</div>
<div class="row px-4 pt-0 pb-4">
    <div class="table-responsive-xxl p-0">
        <table class="table table-striped align-middle" id="orders-table">
            <thead>
                <tr>
                    <th scope="col">No. Orden</th>
                    <th scope="col">Fecha de generación</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Empleado</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each ordenes}}
                    <tr>
                        <th scope="row">
                            {{#checkPermission ../user.permisos "seeListOrders"}}
                                <a class="icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(0, -.15rem, 0); --bs-link-hover-color-rgb: 237, 10, 63;" href="orders/info/{{ordenId}}">
                                    <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                    OT-{{ordenId}}
                                </a>
                            {{else}}
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                                    <a class="icon-link link-underline link-underline-opacity-0 pe-none" style="--bs-link-opacity: .80;">
                                        <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                        OT-{{ordenId}}
                                    </a>
                                </span>
                            {{/checkPermission}}
                        </th>
                        <td>{{formatDateShort fechaGen}}</td>
                        {{#equal fechaEnt "-"}}
                            <td class="text-danger">Sin asignar</td>
                        {{else}}
                            <td>{{formatDateOnlyDate fechaEnt}}</td>
                        {{/equal}}
                        <td>{{nombreComp}}</td>
                        {{#if terminada}}
                            <td class="text-success">Terminada</td>
                        {{else}}
                            {{#equal estatus "Generada"}}
                                <td class="text-info">{{estatus}}</td>
                            {{/equal}}
                            {{#equal estatus "Cancelada"}}
                                <td class="text-danger">{{estatus}}</td>
                            {{/equal}}
                            {{#equal estatus "Revaluada"}}
                                <td class="text-warning">{{estatus}}</td>
                            {{/equal}}
                            {{#equal estatus "En proceso"}}
                                <td class="text-warning">{{estatus}}</td>
                            {{/equal}}
                        {{/if}}
                    </tr>
                {{else}}
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td colspan="5">No existen órdenes registradas</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>