<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-gear-wide-connected"></i> máquinas</h1>
</div>
<div class="row p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Editar máquina</p>
</div>
<div class="row px-3">
    <form action="/machines/edit/{{machine.maquinaId}}" class="needs-validation" id="form-edit-machine" method="post" novalidate>
        <div class="row mb-4 justify-content-md-between">
            <div class="col-md-4">
                <div class="row mb-4">
                    <label for="serialnumber" class="form-label">Número de serie:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-upc"></i></span>
                        <input type="text" name="serialnumber" value="{{machine.numSerie}}" id="serialnumber" class="form-control border-dark border-2" aria-describedby="basic-addon1" autofocus required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-serialnumber"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="brand" class="form-label">Marca:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-gear"></i></span>
                        <input type="text" name="brand" value="{{machine.marca}}" id="brand" class="form-control border-dark border-2" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-brand"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="name" class="form-label">Nombre:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-card-text"></i></span>
                        <input type="text" name="name" value="{{machine.nombre}}" id="name" class="form-control border-dark border-2" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-name"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="headtype" class="form-label">Tipo de cabezal:</label>
                    <div class="input-group">
                        <select name="headtype" id="headtype" class="form-select border-dark border-2">
                            <option value="Térmico" {{#equal machine.tipoCabezal "Térmico"}}selected{{/equal}}>Térmico</option>
                            <option value="Piezoeléctrico" {{#equal machine.tipoCabezal "Piezoeléctrico"}}selected{{/equal}}>Piezoeléctrico</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="headnum" class="form-label">Número de cabezales:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-123"></i></span>
                        <input type="number" min="0" max="10" name="headnum" value="{{machine.numCabezales}}" id="headnum" class="form-control border-dark border-2" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-headnum"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="speed" class="form-label">Velocidad (<var>Mt²/h</var>):</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-speedometer2"></i></span>
                        <input type="text" name="speed" value="{{machine.velocidad}}" id="speed" class="form-control border-dark border-2" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-speed"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-4">
                    <label for="inktype" class="form-label">Tipo de tinta:</label>
                    <div class="input-group">
                        <select name="inktype" id="inktype" class="form-select border-dark border-2">
                            <option value="Acuosa" {{#equal machine.tipoTinta "Acuosa"}}selected{{/equal}}>Acuosa</option>
                            <option value="Sublimación" {{#equal machine.tipoTinta "Sublimación"}}selected{{/equal}}>Sublimación</option>
                            <option value="Solvente" {{#equal machine.tipoTinta "Solvente"}}selected{{/equal}}>Solvente</option>
                            <option value="Ecosolvente" {{#equal machine.tipoTinta "Ecosolvente"}}selected{{/equal}}>Ecosolvente</option>
                            <option value="Latex o resina" {{#equal machine.tipoTinta "Latex o resina"}}selected{{/equal}}>Latex o resina</option>
                            <option value="Curado UV" {{#equal machine.tipoTinta "Curado UV"}}selected{{/equal}}>Curado UV</option>
                            <option value="Híbrida solvente-UV" {{#equal machine.tipoTinta "Híbrida solvente-UV"}}selected{{/equal}} >Híbrida solvente-UV</option>
                            <option value="Sólida" {{#equal machine.tipoTinta "Sólida"}}selected{{/equal}}>Sólida</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="techcontact" class="form-label">Contacto del técnico:</label>
                    <div class="row m-0 p-0">
                        <div class="col-4">
                            <input type="text" name="extension" value="{{machine.conTecnicoExt}}" id="extension" class="form-control border-dark border-2" aria-describedby="basic-addon1" placeholder="Extensión" required>
                            <div class="valid-feedback">
                                Este campo es opcional
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="input-group">
                                <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-telephone"></i></span>
                                <input type="text" name="techcontact" value="{{machine.conTecnico}}" id="techcontact" class="form-control border-dark border-2" aria-describedby="basic-addon1" required>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalid-feedback-techcontact"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="status" class="form-label">Estatus:</label>
                    <div class="row row-cols-2 justify-content-md-start">
                        <div class="col-md-4 d-grid">
                            <input type="radio" name="status" id="statusop1" class="btn-check" value="1" autocomplete="off" {{#if machine.activo}}checked{{/if}}>
                            <label for="statusop1" class="btn btn-outline-success border-success border-2">Activa</label>
                        </div>
                        <div class="col-md-4 d-grid">
                            <input type="radio" name="status" id="statusop2" class="btn-check" value="0" autocomplete="off" {{#unless machine.activo}}checked{{/unless}}>
                            <label for="statusop2" class="btn btn-outline-danger border-danger border-2">Inactiva</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <label for="allowedUsers" class="form-label mb-0">Usuarios autorizados:</label>
                    <div class="table-responsive-xxl overflow-y-auto" id="table-users-add">
                        <table class="table table-sm table-striped align-middle">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Nombre del usuario</th>
                                    <th scope="col">Area</th>
                                    <th scope="col">Rol</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {{#each users}}
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="allowedUser" value="{{usuarioId}}" id="allowedUser" {{#each ../selectedUsers}} {{#equal ../usuarioId usuario_id}}checked{{/equal}} {{/each}}>
                                            </div>
                                        </td>
                                        <th scope="row">{{Empleado}}</th>
                                        <td>{{Area}}</td>
                                        <td>{{Rol}}</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td class="d-none"></td>
                                        <td class="d-none"></td>
                                        <td class="d-none"></td>
                                        <td colspan="4">No existen usuarios registrados</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-mb-4">
                        <button class="btn btn-success me-4" type="submit">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>