<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-gear-wide-connected"></i> máquinas</h1>
</div>
<div class="row p-4">
    <div class="row justify-content-between p-0 m-0" id="machine-add-title">
        <div class="col-md-8 p-2">
            <p class="fs-5 m-0">Máquinas registradas</p>
        </div>
        <div class="col-md-4 p-2">
            <div class="row justify-content-md-end" id="machines-total">
                <div class="col-4">
                    <p class="fs-5 m-0 text-success">Activas: {{activas}}</p>
                </div>
                <div class="col-4">
                    <p class="fs-5 m-0 text-danger">Inactivas: {{inactivas}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row px-4 pt-0">
    <div class="table-responsive-xxl p-0">
        <table class="table table-striped" id="machines-table">
            <thead>
                <tr>
                    <th scope="col">No. Serie</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo cabezal</th>
                    <th scope="col">No. Cabezales</th>
                    <th scope="col">Velocidad (<var>Mt²/h</var>)</th>
                    <th scope="col">Tipo tinta</th>
                    <th scope="col">Con. Técnico</th>
                    <th scope="col">Estatus</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each machines}}
                    <tr>
                        <th scope="row">{{numSerie}}</th>
                        <td>{{marca}}</th>
                        <td>{{nombre}}</th>
                        <th>{{tipoCabezal}}</th>
                        <th>{{numCabezales}}</th>
                        <th>{{velocidad}}</th>
                        <th>{{tipoTinta}}</th>
                        <th>{{conTecnicoExt}}-{{conTecnico}}</th>
                        {{#if activo}}
                            <th class="text-success">Activa</th>
                        {{else}}
                            <th class="text-danger">Inactiva</th>
                        {{/if}}
                        <th><a href="/machines/edit/{{maquinaId}}" class="btn btn-sm btn-secondary"><i class="bi bi-pencil-square"></i> Editar</a></th>
                    </tr>
                {{else}}
                    <tr>
                        <th colspan="10">No existen máquinas registradas</th>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    var table = new DataTable('#machines-table', {
        paging: false,
        info: false,
        padding: false,
        order: [],
        dom: '<"float-start pb-2"f><"button-add-machines pb-2"B>', 
        columnDefs: [
            {className: "dt-center", targets: "_all"}
        ],
        fnInitComplete: function(){
            $('div.button-add-machines').html('<a href="/machines/add" class="btn btn-outline-success border-success border-2 float-end" role="button"><i class="bi bi-patch-plus-fill"></i> Añadir máquina</a>');
        },
        language:{
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-MX.json',
        },
    })
</script>