<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-gear-wide-connected"></i> máquinas</h1>
</div>
<div class="row p-4">
    <div class="row justify-content-between p-0 m-0" id="machine-add-title">
        <div class="col-md-8 p-2">
            <p class="fs-5 m-0">Máquinas registradas</p>
        </div>
        <div class="col-md-4 p-2">
            <div class="row justify-content-md-end" id="machines-total">
                <div class="col-4">
                    <p class="fs-5 m-0 text-success">Activas: {{activas}}</p>
                </div>
                <div class="col-4">
                    <p class="fs-5 m-0 text-danger">Inactivas: {{inactivas}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row px-4 pt-0 pb-4">
    <div class="table-responsive-xxl p-0">
        <table class="table table-striped align-middle" id="machines-table">
            <thead>
                <tr>
                    <th scope="col">No. Serie</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo cabezal</th>
                    <th scope="col">No. Cabezales</th>
                    <th scope="col">Velocidad (<var>Mt²/h</var>)</th>
                    <th scope="col">Tipo tinta</th>
                    <th scope="col">Con. Técnico</th>
                    <th scope="col">Estatus</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each machines}}
                    <tr>
                        <th scope="row">{{numSerie}}</th>
                        <td>{{marca}}</td>
                        <td>{{nombre}}</td>
                        <td>{{tipoCabezal}}</td>
                        <td>{{numCabezales}}</td>
                        <td>{{velocidad}}</td>
                        <td>{{tipoTinta}}</td>
                        <td>{{conTecnicoExt}}-{{conTecnico}}</td>
                        {{#if activo}}
                            <td class="text-success">Activa</td>
                        {{else}}
                            <td class="text-danger">Inactiva</td>
                        {{/if}}
                        <td>
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <button class="btn btn-sm btn-outline-primary" id="btnExpandUsers" value="{{maquinaId}}" type="button" aria-expanded="false"><i class="bi bi-person-fill-gear"></i></button>
                                </div>
                                <div class="col-md-6">
                                    <a href="/machines/edit/{{maquinaId}}" class="btn btn-sm btn-secondary"><i class="bi bi-pencil-square"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td colspan="10">No existen máquinas registradas</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script type="text/x-handlebars-template" id="machines-users-expand">
    <div class="row p-2">
        \{{#each users}}
            <div class="col-md-3 col-4 gy-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-3 position-relative">
                            <i class="bi bi-person-fill-gear position-absolute top-50 start-50 translate-middle" style="font-size: 4em;"></i>
                        </div>
                        <div class="col-9">
                            <div class="card-body px-3">
                                <p class="card-text fw-bold">\{{Empleado}}</p>
                                <div class="row justify-content-start">
                                    <div class="col-md-6">
                                        <p class="card-text"><small class="text-body-secondary">\{{Area}}</small></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text"><small class="text-body-secondary">\{{Rol}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        \{{else}}
            <div class="col-md-12 col-12 gy-2">
                <div class="card">
                    <div class="card-body px-3 text-center">
                        <div class="card-text">
                            <p class="card-text">No hay usuarios autorizados para utilizar esta máquina</p>
                        </div>
                    </div>
                </div>
            </div>
        \{{/each}}
    </div>
</script>