<div class="row p-3" id="client-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-people-fill"></i> clientes</h1>
</div>
<div class="row p-4">
    <div class="row justify-content-between p-0 m-0" id="client-add-title">
        <div class="col-md-8 p-2">
            <p class="fs-5 m-0">Clientes registrados</p>
        </div>
        <div class="col-md-4 p-2">
            <div class="row justify-content-md-end" id="clients-total">
                <div class="col-4">
                    <p class="fs-5 m-0 text-success">Activos: {{activos}}</p>
                </div>
                <div class="col-4">
                    <p class="fs-5 m-0 text-danger">Inactivos: {{inactivos}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row px-4 pt-0 pb-4">
    <div class="table-responsive-xxl p-0">
        <table class="table table-striped align-middle" id="clients-table">
            <thead>
                <tr>
                    <th scope="col">RFC</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Estatus</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each clients}}
                    <tr>
                        <th scope="row">{{rfc}}</th>
                        <td>{{nombre}}</td>
                        <td>{{telefonoExt}}-{{telefono}}</td>
                        <td>{{correoElec}}</td>
                        {{#each ../group}}
                            {{#equal ../grupo_id grupoId}} <th>{{nombre}}</th>{{/equal}}
                        {{/each}}
                        {{#if activo}}
                            <td class="text-success">Activo</td>
                        {{else}}
                            <td class="text-danger">Inactivo</td>
                        {{/if}}
                        <td>
                                    <a type="button" class="btn btn-secondary" href="/clients/infoclient{{clienteId}}" > ver información del cliente</a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td colspan="7">No existen clientes registrados.</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    var table = new DataTable('#clients-table', {
        paging: false,
        info: false,
        padding: false,
        order: [],
        dom: '<"float-start pb-2"f><"button-add-clients pb-2"B>',
        columnDefs: [
            {className: "dt-center", targets: "_all"},
        ],
        fnInitComplete: function(){
            $('div.button-add-clients').html('<a href="/clients/addclient" class="btn btn-outline-success border-success border-2 float-end" role="button"><i class="bi bi-patch-plus-fill"></i> Añadir cliente</a>');
        },
        language:{
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-MX.json',
        },
    });
</script>

