
    <div class="row p-3" id="machine-title">
        <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-file-earmark-text"></i>Tareas</h1>
    </div>
    <div class="row p-4">
        <div class="row justify-content-between p-0 m-0" id="machine-add-title">
            <div class="col-md-8 p-2">
                <p class="fs-5 m-0">Tareas terminadas: {{conteo}}</p>
            </div>
        </div>
    </div>
    <div class="row p-4 pt-0">
        <div class="table-responsive-xxl p-0">
            <table class="table table-striped align-middle text-center" id="tabla_tareas_nuevas">
                <thead>
                    <tr>
                        <th scope="col">No Orden</th>
                        <th scope="col">No tarea</th>
                        <th scope="col">Fecha de generacion</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Encargado</th>
                        <th scope="col">Nota</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each tareas}}
                        <tr>
                            <th>
                                {{#checkPermission ../user.permisos "seeListOrders"}}
                                    <a href="/orders/info/{{orden_id}}">{{orden_id}}</a>
                                {{else}}
                                    <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                                        <a class="link-underline link-underline-opacity-0 pe-none" style="--bs-link-opacity: .80;">
                                            {{orden_id}}
                                        </a>
                                    </span>
                                {{/checkPermission}}
                            </th>
                            <th><a href="/tareas/info/{{tareaId}}">{{tareaId}}</a></th>
                            <th>{{#formatDateEspanol fechaGen}} {{/formatDateEspanol}}</th>
                            <th>{{#formatDateEspanol fechaEnt}} {{/formatDateEspanol}}</th>
                            <th>{{proyecto}}</th>
                            {{#each ../users}}
                                {{#equal usuarioId ../usuario_id}} <th>{{nombre}} {{apellido}}</th> {{/equal}}
                            {{/each}}
                            <th>{{observaciones}}</th>
                            <th>Terminada</th>
                        </tr>
                    {{else}}
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td colspan="8">No hay tareas en el historial.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

<script>
    var table = new DataTable('#tabla_tareas_todas', {
        paging: false,
        info: false,
        padding: false,
        order: [],
        dom: '<"float-start pb-2"f><"button-add-machines pb-2"B>', 
        columnDefs: [
            {className: "dt-center", targets: "_all"}
        ],
        language:{
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-MX.json',
        },
    })
</script>