<div class="row align-items-center p-3" id="machine-title">
    <a href="/tareas" style="color: white; text-decoration: none;"><h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-clipboard2"></i> Tareas</h1></a>
</div>
<div class="row align-items-center p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Regresar tarea.</p>
</div>
<div class="row px-3">
    <form action="/tareas/restore/{{tarea.tareaId}}" method="post" class="needs-validation" id="form-return-tareas" novalidate>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <label for="nombreTarea" class="form-label">Nombre: {{tarea.nombre}}</label>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between"> 
            <div class="col-md-4">
                <label for="nombreProducto" class="form-label">Producto: {{tarea.proyecto}}</label>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <label for="maquina" class="form-label">Maquina:</label><br>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-arrow-down-up"></i></span>
                    <select name="maquina" id="maquina" class="form-select border-dark border-2">
                        <option value=0>No aplica</option>
                        {{#each machines}}
                            <option value={{maquinaId}} {{#equal ../tarea.maquina_id maquinaId}} selected {{/equal}}>{{nombre}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label for="impresor" class="form-label">Empleado:</label>
                <div class="input-group has-validation">
                    <span class="input-group-text border-dark border-2 border-end-0" id="basic-addon1"><i class="bi bi-arrow-down-up"></i></span>
                    <select name="usuario" id="usuario" class="form-select border-dark border-2">
                        {{#each users}}
                            <option value={{usuarioId}} {{#equal ../tarea.usuario_id usuarioId}} selected {{/equal}}>{{nombre}} {{apellido}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4 has-validation">
                <label for="notas" class="form-label">Descripcion del error:</label>
                <textarea id="descripcion" name="descripcion" class="form-control border-dark border-2">{{tarea.notes}}</textarea>
                <div class="invalid-feedback">
                    <span id="invalid-feedback-descripcion"></span>
                </div>
            </div>
        </div>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-4">
                <br>
                <button class="btn btn-success me-4" type="submit">Guardar cambios y regresar tarea</button>
                <a href="/tareas/" type="button" class="btn btn-danger me-4">Cancelar</a>
            </div>
        </div>
    </form>
</div>

