{{#if success_msg}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error_msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}}

{{#if success}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{success}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if toast}}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header text-bg-danger">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-light">
            {{toast}}
            <div class="mt-2 pt-2 border-top">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
                <a href="/machines/edit/{{toast_id}}" class="btn btn-primary btn-sm">Ver cambios</a>
            </div>
        </div>
    </div>
</div>
<script>
    const toast = new bootstrap.Toast(document.getElementById('liveToast'), {});
    toast.show();

</script>
{{/if}}

{{#if modal}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{modal}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="/machines/edit/{{modal_id}}" class="btn btn-primary">Ver cambios</a>
            </div>
        </div>
    </div>
</div>
<script>
    //$(function () {
    //    $("#exampleModal").modal('show');
    //});

    const myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {});
    myModal.show();

</script>
{{/if}}