<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-journals"></i> Cotizaciones</h1>
</div>
<div class="row p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Agregar cotización</p>
</div>
<div class="row px-4">
    <form action="/quotations/preview" method="post" class="needs-validation" id="form-add-quotation" novalidate>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-3 h-100"> <!-- <div class="col-md-4 p-0 bg-info"> alinear con titulo -->
                <div class="row mb-2 text-center bg-danger text-white"> <!-- <div class="row mb-2 m-0 text-center bg-danger"> alinear con titulo -->
                    <p class="fs-6 p-2 m-0">Información general</p>
                </div>
                <div class="row p-2"> <!-- <div class="row mb-4 px-2"> alinear con titulo -->
                    <label for="clientid" class="form-label">Nombre del cliente:</label>
                    <div class="input-group has-validation">
                        <select name="clientid" id="clientid" class="form-select border-dark border-2 rounded-end" required>
                            <option value="">Seleccione un cliente</option>
                            <option value="1">Cliente</option>
                            {{#each clients}}
                                <option value="{{clienteId}}">{{nombre}}</option>
                            {{else}}
                                <option value="" disabled>No existen clientes registrados...</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            Por favor, seleccione un cliente
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <label for="nameapplicant" class="form-label">Nombre del solicitante:</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-person-vcard"></i></span>
                        <input type="text" name="nameapplicant" id="nameapplicant" class="form-control border-dark border-2 rounded-end" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-nameapplicant"></span>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <label for="nameproyect" class="form-label">Nombre del proyecto:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-folder2-open"></i></span>
                        <input type="text" name="nameproyect" id="nameproyect" class="form-control border-dark border-2 rounded-end" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-nameproyect"></span>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <label for="discount" class="form-label">¿Aplicar descuento?</label>
                    <div class="row row-cols-3 m-0 p-0 justify-content-md-start">
                        <div class="col-3 h-100">
                            <input type="radio" name="discount" id="discountop1" class="btn-check" autocomplete="off">
                            <label for="discountop1" class="btn btn-outline-success w-100 border-success border-2">Si</label>
                        </div>
                        <div class="col-3 h-100">
                            <input type="radio" name="discount" id="discountop2" class="btn-check" autocomplete="off" checked>
                            <label for="discountop2" class="btn btn-outline-danger w-100 border-danger border-2">No</label>
                        </div>
                        <div class="col-6 h-100">
                            <div class="input-group has-validation">
                                <input type="text" name="numdiscount" id="numdiscount" value="0" class="form-control border-dark border-2" placeholder="Desc." disabled required>
                                <span class="input-group-text border-dark border-2 border-start-0 rounded-end"><i class="bi bi-percent"></i></span>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalid-feedback-numdiscount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2 mb-3">
                    <label for="observations" class="form-label">Observaciones:</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-info-square"></i></span>
                        <textarea class="form-control border-dark border-2 rounded-end" name="observations" id="observations" rows="5" required></textarea>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-observations"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 h-100">
                <div class="row mb-3 text-center bg-danger text-white">
                    <p class="fs-6 p-2 m-0">Información de los productos</p>
                </div>
                <div class="row p-3 justify-content-md-between" id="products-cards-container">
                    <div class="row m-0 mb-4">
                        <div class="col-8">
                            <div class="input-group has-validation">
                                <button class="btn btn-primary border-dark border-2 border-end-0" id="cotbtn" type="button">Cotizar</button>
                                <select class="form-select border-dark border-2 rounded-end" id="nameproduct" required>
                                    <option value="">Seleccione un producto</option>
                                    {{#each products}}
                                        <option value={{productoId}}>{{nombre}}</option>
                                    {{else}}
                                    <option value="">No existen productos disponibles...</option>
                                    {{/each}}
                                </select>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione un producto
                                </div>
                            </div>
                        </div>
                        <div class="col-4 align-self-start text-end">
                            <button class="btn btn-outline-secondary border-secondary border-2" id="outCatalog" type="button"><i class="bi bi-bag-x"></i> <span class="d-md-inline d-none">Fuera de catálogo</span></button>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mb-4 justify-content-end text-end">
                    <div class="col-md-6">
                        <button class="btn btn-danger me-4" type="reset">Limpiar campos</button>
                        <button class="btn btn-success me-3" type="submit">Vista previa</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{{!-- Templates --}}
<script type="text/x-handlebars-template" id="products-card-added">
    \{{#with product}}
        <div class="row m-0">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header text-bg-light">
                        <div class="row m-0 align-items-center">
                            <div class="col-8">
                                <p class="card-title m-0"><b>Producto:</b> \{{nombre}}</p>
                                <input class="d-none" name="productId\{{countProduct}}" type="text" value="\{{productoId}}">
                                <input class="d-none" name="nameproduct\{{countProduct}}" type="text" value="\{{nombre}}">
                                <input class="d-none" name="isoutcatalog\{{countProduct}}" type="text" value="0">
                            </div>
                            <div class="col-4 text-end">
                                <button class="btn btn-danger btn-sm remove-product-button" type="button"><i class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-0 gy-md-0 justify-content-md-between">
                            <div class="col-md-4">
                                <div class="row row-cols-3 justify-content-md-start">
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check unitproduct" id="unitproduct\{{countProduct}}op1" value="Pieza" autocomplete="off" \{{#equal unidad "Pieza"}} checked \{{/equal}}disabled>
                                        <label for="unitproduct\{{countProduct}}op1" class="btn btn-sm btn-outline-primary border-2">Pieza</label>
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check" id="unitproduct\{{countProduct}}op2" value="Mt" autocomplete="off" \{{#equal unidad "Mt"}} checked \{{/equal}} disabled>
                                        <label for="unitproduct\{{countProduct}}op2" class="btn btn-sm btn-outline-primary border-2">Mt²</label>
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check" id="unitproduct\{{countProduct}}op3" value="Millar" autocomplete="off" \{{#equal unidad "Millar"}} checked \{{/equal}} disabled>
                                        <label for="unitproduct\{{countProduct}}op3" class="btn btn-sm btn-outline-primary border-2 ">Millar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 pt-md-0 pt-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-currency-dollar"></i></span>
                                    <input type="number" name="priceproduct\{{countProduct}}" min="0" value="\{{precio}}" class="form-control border-dark border-2 priceproduct" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 gy-4 justify-content-md-between">
                            <div class="col-md-2">
                                <label for="quantityproduct" class="form-label">Cantidad:</label>
                                <div class="input-group input-group-sm has-validation">
                                    <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-hash"></i></span>
                                    <input type="number" min="1" name="quantityproduct\{{countProduct}}" class="form-control border-dark border-2 rounded-end quantityproduct" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-quantityproduct"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row gy-4 justify-content-md-between">
                                    <div class="col-md-6">
                                        <label for="coatingproduct" class="form-label">Acabados:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 coatingproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="coatingproduct\{{countProduct}}" class="form-control border-dark border-2 border-start-0 rounded-end coatingproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-coatingproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="fileproduct" class="form-label">Archivo:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 fileproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="fileproduct\{{countProduct}}"  class="form-control border-dark border-2 border-start-0 rounded-end fileproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-fileproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                \{{#equal unidad "Mt"}}
                                    <div class="row row-cols-2 justify-content-md-start">
                                        <div class="col-md-6 h-100">
                                            <label for="lengthproduct" class="form-label">Largo:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="lengthproduct\{{countProduct}}" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt" required>
                                                <div class="valid-feedback">
                                                    ¡Perfecto!
                                                </div>
                                                <div class="invalid-feedback">
                                                    <span class="invalid-feedback-lengthproduct"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 h-100">
                                            <label for="widthproduct" class="form-label">Ancho:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="widthproduct\{{countProduct}}" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt" required>
                                                <div class="valid-feedback">
                                                    ¡Perfecto!
                                                </div>
                                                <div class="invalid-feedback">
                                                    <span class="invalid-feedback-widthproduct"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                \{{/equal}}
                                \{{#equal unidad "Pieza"}}
                                    <div class="row row-cols-2 justify-content-md-start d-none">
                                        <div class="col-md-6 d-grid">
                                            <label for="lengthproduct" class="form-label">Largo:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="lengthproduct\{{countProduct}}" value="0" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-grid">
                                            <label for="widthproduct" class="form-label">Ancho:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="widthproduct\{{countProduct}}" value="0" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt">
                                            </div>
                                        </div>
                                    </div>
                                \{{/equal}}
                                \{{#equal unidad "Millar"}}
                                    <div class="row row-cols-2 justify-content-md-start d-none">
                                        <div class="col-md-6 d-grid">
                                            <label for="lengthproduct" class="form-label">Largo:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="lengthproduct\{{countProduct}}" value="0" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt">
                                            </div>
                                        </div>
                                        <div class="col-md-6 d-grid">
                                            <label for="widthproduct" class="form-label">Ancho:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="widthproduct\{{countProduct}}" value="0" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt">
                                            </div>
                                        </div>
                                    </div>
                                \{{/equal}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    \{{/with}}
</script>

<script type="text/x-handlebars-template" id="products-outCatalog-card-added">
    \{{#with product}}
        <div class="row m-0">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="row m-0 justify-content-between align-items-center">
                            <div class="col-10 col-md-6">
                                <div class="input-group input-group-sm has-validation">
                                    <input class="d-none" name="productId\{{countProduct}}" type="text" value="">
                                    <label for="nameoutproduct" class="col-form-label col-form-label-sm me-2"><b>Producto:</b></label>
                                    <input class="form-control border-dark border-2 rounded-0 nameoutproduct" name="nameproduct\{{countProduct}}" type="text" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-nameoutproduct"></span>
                                    </div>
                                    <input class="d-none" name="isoutcatalog\{{countProduct}}" type="text" value="1">
                                </div>
                            </div>
                            <div class="col-2 h-100 text-end">
                                <button class="btn btn-danger btn-sm remove-product-button" type="button"><i class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-0 gy-md-0 justify-content-md-between">
                            <div class="col-md-4">
                                <div class="row row-cols-3 justify-content-md-start">
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check unitoutproduct1" id="unitoutproduct\{{countProduct}}op1" value="Pieza" autocomplete="off">
                                        <label for="unitoutproduct\{{countProduct}}op1" class="form-check-label btn btn-sm btn-outline-primary border-2">Pieza</label>
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check unitoutproduct2" id="unitoutproduct\{{countProduct}}op2" value="Mt" autocomplete="off" checked>
                                        <label for="unitoutproduct\{{countProduct}}op2" class="form-check-label btn btn-sm btn-outline-primary border-2">Mt²</label>
                                    </div>
                                    <div class="col-md-4 d-grid">
                                        <input type="radio" name="unitproduct\{{countProduct}}" class="btn-check unitoutproduct3" id="unitoutproduct\{{countProduct}}op3" value="Millar" autocomplete="off">
                                        <label for="unitoutproduct\{{countProduct}}op3" class="form-check-label btn btn-sm btn-outline-primary border-2 ">Millar</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pt-md-0 pt-4">
                                <div class="input-group input-group-sm has-validation">
                                    <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-currency-dollar"></i></span>
                                    <input type="number" name="priceproduct\{{countProduct}}" min="0"  class="form-control border-dark border-2 rounded-end priceoutproduct" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-priceoutproduct"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 gy-4 justify-content-md-between">
                            <div class="col-md-2">
                                <label for="quantityproduct" class="form-label">Cantidad:</label>
                                <div class="input-group input-group-sm has-validation">
                                    <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-hash"></i></span>
                                    <input type="number" min="1" name="quantityproduct\{{countProduct}}" class="form-control border-dark border-2 rounded-end quantityproduct" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-quantityproduct"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row gy-4 justify-content-md-between">
                                    <div class="col-md-6">
                                        <label for="coatingproduct" class="form-label">Acabados:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 coatingproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="coatingproduct\{{countProduct}}" class="form-control border-dark border-2 border-start-0 rounded-end coatingproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-coatingproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="fileproduct" class="form-label">Archivo:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 fileproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="fileproduct\{{countProduct}}"  class="form-control border-dark border-2 border-start-0 rounded-end fileproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-fileproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row row-cols-2 justify-content-md-start">
                                    <div class="col-md-6 h-100">
                                        <label for="lengthproduct" class="form-label">Largo:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <input type="text" name="lengthproduct\{{countProduct}}" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-lengthproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 h-100">
                                        <label for="widthproduct" class="form-label">Ancho:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <input type="text" name="widthproduct\{{countProduct}}" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-widthproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    \{{/with}}
</script>