<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-journals"></i> Cotizaciones</h1>
</div>
<div class="row p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Agregar cotización</p>
</div>
<div class="row px-4">
    <form action="/quotations/add" method="post" class="needs-validation" id="form-add-quotation" novalidate>
        <div class="row mb-4 gy-4 justify-content-md-between">
            <div class="col-md-3 p-0 h-100">
                <div class="row mb-2 m-0 text-center bg-danger text-white">
                    <p class="fs-6 p-1 m-0">Información general</p>
                </div>
                <div class="row py-2 px-0">
                    <label for="clientid" class="form-label">Nombre del cliente:</label>
                    <div class="input-group has-validation">
                        <select name="clientid" id="clientid" class="form-select border-dark border-2 rounded-end" required>
                            <option value="">Seleccione un cliente</option>
                            {{#each clientes}}
                                <option value="{{clienteId}}">{{nombre}}</option>
                            {{else}}
                                <option value="" disabled>No existen clientes registrados...</option>
                            {{/each}}
                        </select>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            Por favor, seleccione un cliente
                        </div>
                    </div>
                </div>
                <div class="row py-2 px-0">
                    <label for="nameapplicant" class="form-label">Nombre del solicitante:</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-person-vcard"></i></span>
                        <input type="text" name="nameapplicant" id="nameapplicant" class="form-control border-dark border-2 rounded-end" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-nameapplicant"></span>
                        </div>
                    </div>
                </div>
                <div class="row py-2 px-0">
                    <label for="nameproyect" class="form-label">Nombre del proyecto:</label>
                    <div class="input-group">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-folder2-open"></i></span>
                        <input type="text" name="nameproyect" id="nameproyect" class="form-control border-dark border-2 rounded-end" required>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-nameproyect"></span>
                        </div>
                    </div>
                </div>
                <div class="row py-2 px-0">
                    <label for="discountop1" class="form-label">¿Aplicar descuento?</label>
                    <div class="row row-cols-3 m-0 p-0 justify-content-md-start">
                        <div class="col-3 h-100">
                            <input type="radio" name="discount" id="discountop1" class="btn-check" autocomplete="off">
                            <label for="discountop1" class="btn btn-outline-success w-100 border-success border-2">Si</label>
                        </div>
                        <div class="col-3 h-100">
                            <input type="radio" name="discount" id="discountop2" class="btn-check" autocomplete="off" checked>
                            <label for="discountop2" class="btn btn-outline-danger w-100 border-danger border-2">No</label>
                        </div>
                        <div class="col-6 h-100">
                            <div class="input-group has-validation">
                                <input type="text" name="numdiscount" id="numdiscount" value="0.00" class="form-control border-dark border-2" placeholder="Desc." disabled required>
                                <span class="input-group-text border-dark border-2 border-start-0 rounded-end"><i class="bi bi-percent"></i></span>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    <span id="invalid-feedback-numdiscount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-2 px-0 mb-3">
                    <label for="observations" class="form-label">Observaciones:</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-info-square"></i></span>
                        <textarea class="form-control border-dark border-2 rounded-end" name="observations" id="observations" rows="5" required></textarea>
                        <div class="valid-feedback">
                            ¡Perfecto!
                        </div>
                        <div class="invalid-feedback">
                            <span id="invalid-feedback-observations"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 h-100">
                <div class="row text-center bg-danger text-white">
                    <p class="fs-6 p-1 m-0">Información de los productos</p>
                </div>
                <div class="row justify-content-md-between">
                    <div class="row my-4 m-0 p-0">
                        <div class="col-8 p-0">
                            <div class="input-group has-validation">
                                <button class="btn btn-primary border-dark border-2 border-end-0" id="cotbtn" type="button">Cotizar</button>
                                <select class="form-select border-dark border-2 rounded-end" id="nameproduct" required>
                                    <option value="">Seleccione un producto</option>
                                    {{#each productos}}
                                        <option value={{productoId}}>{{nombre}}</option>
                                    {{else}}
                                    <option value="" disabled>No existen productos disponibles...</option>
                                    {{/each}}
                                </select>
                                <div class="valid-feedback">
                                    ¡Perfecto!
                                </div>
                                <div class="invalid-feedback">
                                    Por favor, seleccione un producto
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-0 align-self-start text-end">
                            <button class="btn btn-outline-secondary border-secondary border-2" id="outCatalog" type="button"><i class="bi bi-bag-x"></i> <span class="d-md-inline d-none">Fuera de catálogo</span></button>
                        </div>
                    </div>
                    <div class="row m-0 p-0 justify-content-md-between" id="products-cards-container">
                        {{!-- The cards of the quoted products will be added here --}}
                    </div>
                </div>
                <div class="row mb-2 justify-content-end text-end">
                    <div class="col-md-6 p-0">
                        <button class="btn btn-danger me-4" type="reset">Limpiar campos</button>
                        <button class="btn btn-success" type="submit">Vista previa</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{{!-- Modal preview --}}
<div class="modal fade" id="preview-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-3">Vista previa</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="preview-container">
                {{!-- The quote information will be added here --}}
            </div>
            <div class="modal-footer">
                <a href="/quotations" class="btn btn-danger" role="button">Cancelar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Editar</button>
                <button type="submit" class="btn btn-success" id="send-quotation">Cotizar</button>
            </div>
        </div>
    </div>
</div>

{{!-- Templates --}}
<script type="text/x-handlebars-template" id="products-card-added">
    \{{#with producto}}
        <div class="row m-0 p-0">
            <div class="col-md-12 p-0">
                <div class="card mb-4">
                    <div class="card-header text-bg-light">
                        <div class="row m-0 align-items-center">
                            <div class="col-8">
                                \{{#equal fueraCatalogo '1'}}
                                    <div class="input-group input-group-sm has-validation">
                                        <input class="d-none" name="productId\{{contadorProducto}}" type="text" value="">
                                        <label for="nameproduct\{{contadorProducto}}" class="col-form-label col-form-label-sm me-2"><b>Producto:</b></label>
                                        <input class="form-control border-dark border-2 rounded-0 nameoutproduct" name="nameproduct\{{contadorProducto}}" id="nameproduct\{{contadorProducto}}" type="text" required>
                                        <div class="valid-feedback">
                                            ¡Perfecto!
                                        </div>
                                        <div class="invalid-feedback">
                                            <span class="invalid-feedback-nameoutproduct"></span>
                                        </div>
                                    </div>
                                \{{else}}
                                    <p class="card-title m-0"><b>Producto:</b> \{{nombre}}</p>
                                    <input class="d-none" name="productId\{{contadorProducto}}" type="text" value="\{{productoId}}">
                                    <input class="d-none" name="nameproduct\{{contadorProducto}}" type="text" value="\{{nombre}}">
                                \{{/equal}}
                                <input class="d-none" name="isoutcatalog\{{contadorProducto}}" type="text" value="\{{fueraCatalogo}}">
                            </div>
                            <div class="col-4 text-end">
                                <button class="btn btn-danger btn-sm remove-product-button" type="button"><i class="bi bi-trash3"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row m-0 gy-md-0 justify-content-md-between">
                            <div class="col-md-4">
                                \{{#equal fueraCatalogo '1'}}
                                    <div class="row row-cols-3 justify-content-md-start">
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check unitoutproduct1" id="unitoutproduct\{{contadorProducto}}op1" value="Pieza" autocomplete="off">
                                            <label for="unitoutproduct\{{contadorProducto}}op1" class="form-check-label btn btn-sm btn-outline-primary border-2">Pieza</label>
                                        </div>
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check unitoutproduct2" id="unitoutproduct\{{contadorProducto}}op2" value="Mt" autocomplete="off" checked>
                                            <label for="unitoutproduct\{{contadorProducto}}op2" class="form-check-label btn btn-sm btn-outline-primary border-2">Mt²</label>
                                        </div>
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check unitoutproduct3" id="unitoutproduct\{{contadorProducto}}op3" value="Millar" autocomplete="off">
                                            <label for="unitoutproduct\{{contadorProducto}}op3" class="form-check-label btn btn-sm btn-outline-primary border-2 ">Millar</label>
                                        </div>
                                    </div>
                                \{{else}}
                                    <div class="row row-cols-3 justify-content-md-start">
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check unitproduct" id="unitproduct\{{contadorProducto}}op1" value="Pieza" autocomplete="off" \{{#equal unidad "Pieza"}} checked \{{/equal}}disabled>
                                            <label for="unitproduct\{{contadorProducto}}op1" class="btn btn-sm btn-outline-primary border-2">Pieza</label>
                                        </div>
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check" id="unitproduct\{{contadorProducto}}op2" value="Mt" autocomplete="off" \{{#equal unidad "Mt"}} checked \{{/equal}} disabled>
                                            <label for="unitproduct\{{contadorProducto}}op2" class="btn btn-sm btn-outline-primary border-2">Mt²</label>
                                        </div>
                                        <div class="col-md-4 d-grid">
                                            <input type="radio" name="unitproduct\{{contadorProducto}}" class="btn-check" id="unitproduct\{{contadorProducto}}op3" value="Millar" autocomplete="off" \{{#equal unidad "Millar"}} checked \{{/equal}} disabled>
                                            <label for="unitproduct\{{contadorProducto}}op3" class="btn btn-sm btn-outline-primary border-2 ">Millar</label>
                                        </div>
                                    </div>
                                \{{/equal}}
                            </div>
                            <div class="col-md-3 pt-md-0 pt-4">
                                <div class="input-group input-group-sm">
                                    \{{#greaterThan descuento 0}}
                                        <span class="input-group-text border-dark border-2 border-end-0 position-relative productDiscount" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-html="true" data-bs-title="Un descuento del <b>\{{descuento}}%</b> fue aplicado">
                                            <i class="bi bi-currency-dollar"></i>
                                            <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger" style="font-size: 12px;">
                                                <i class="bi bi-percent"></i>
                                            </span>
                                        </span>
                                    \{{else}}
                                        <span class="input-group-text border-dark border-2 border-end-0 productDiscount">
                                            <i class="bi bi-currency-dollar"></i>
                                        </span>
                                    \{{/greaterThan}}
                                    <input type="number" name="priceproduct\{{contadorProducto}}" min="1" value="\{{precio}}" class="form-control border-dark border-2 rounded-end priceoutproduct" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-priceproduct"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 gy-4 justify-content-md-between">
                            <div class="col-md-2">
                                <label for="quantityproduct\{{contadorProducto}}" class="form-label">Cantidad:</label>
                                <div class="input-group input-group-sm has-validation">
                                    <span class="input-group-text border-dark border-2 border-end-0"><i class="bi bi-hash"></i></span>
                                    <input type="number" min="1" name="quantityproduct\{{contadorProducto}}" id="quantityproduct\{{contadorProducto}}" class="form-control border-dark border-2 rounded-end quantityproduct" required>
                                    <div class="valid-feedback">
                                        ¡Perfecto!
                                    </div>
                                    <div class="invalid-feedback">
                                        <span class="invalid-feedback-quantityproduct"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row gy-4 justify-content-md-between">
                                    <div class="col-md-6">
                                        <label for="coatingproduct\{{contadorProducto}}" class="form-label">Acabados:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 coatingproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="coatingproduct\{{contadorProducto}}" id="coatingproduct\{{contadorProducto}}" class="form-control border-dark border-2 border-start-0 rounded-end coatingproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-coatingproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="fileproduct\{{contadorProducto}}" class="form-label">Archivo:</label>
                                        <div class="input-group input-group-sm has-validation">
                                            <button class="btn btn-outline-primary border-primary border-2 fileproduct-toggle" type="button"><i class="bi bi-toggle2-on"></i></button>
                                            <input type="text" name="fileproduct\{{contadorProducto}}" id="fileproduct\{{contadorProducto}}" class="form-control border-dark border-2 border-start-0 rounded-end fileproduct" required>
                                            <div class="valid-feedback">
                                                ¡Perfecto!
                                            </div>
                                            <div class="invalid-feedback">
                                                <span class="invalid-feedback-fileproduct"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                \{{#equal fueraCatalogo '1'}}
                                    <div class="row row-cols-2 justify-content-md-start">
                                        <div class="col-md-6 h-100">
                                            <label for="lengthproduct\{{contadorProducto}}" class="form-label">Largo:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="lengthproduct\{{contadorProducto}}" id="lengthproduct\{{contadorProducto}}" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt" required>
                                                <div class="valid-feedback">
                                                    ¡Perfecto!
                                                </div>
                                                <div class="invalid-feedback">
                                                    <span class="invalid-feedback-lengthproduct"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 h-100">
                                            <label for="widthproduct\{{contadorProducto}}" class="form-label">Ancho:</label>
                                            <div class="input-group input-group-sm has-validation">
                                                <input type="text" name="widthproduct\{{contadorProducto}}" id="widthproduct\{{contadorProducto}}" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt" required>
                                                <div class="valid-feedback">
                                                    ¡Perfecto!
                                                </div>
                                                <div class="invalid-feedback">
                                                    <span class="invalid-feedback-widthproduct"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                \{{else}}
                                    \{{#equal unidad "Mt"}}
                                        <div class="row row-cols-2 justify-content-md-start">
                                            <div class="col-md-6 h-100">
                                                <label for="lengthproduct\{{contadorProducto}}" class="form-label">Largo:</label>
                                                <div class="input-group input-group-sm has-validation">
                                                    <input type="text" name="lengthproduct\{{contadorProducto}}" id="lengthproduct\{{contadorProducto}}" class="form-control border-dark border-2 rounded lengthproduct" placeholder="Mt" required>
                                                    <div class="valid-feedback">
                                                        ¡Perfecto!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="invalid-feedback-lengthproduct"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 h-100">
                                                <label for="widthproduct\{{contadorProducto}}" class="form-label">Ancho:</label>
                                                <div class="input-group input-group-sm has-validation">
                                                    <input type="text" name="widthproduct\{{contadorProducto}}" id="widthproduct\{{contadorProducto}}" class="form-control border-dark border-2 rounded widthproduct" placeholder="Mt" required>
                                                    <div class="valid-feedback">
                                                        ¡Perfecto!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="invalid-feedback-widthproduct"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    \{{else}}
                                        <div class="row row-cols-2 justify-content-md-start d-none">
                                            <div class="col-md-6 d-grid">
                                                <label for="lengthproduct\{{contadorProducto}}" class="form-label">Largo:</label>
                                                <div class="input-group input-group-sm has-validation">
                                                    <input type="text" name="lengthproduct\{{contadorProducto}}" id="lengthproduct\{{contadorProducto}}" value="0" class="form-control border-dark border-2 rounded lengthproduct">
                                                </div>
                                            </div>
                                            <div class="col-md-6 d-grid">
                                                <label for="widthproduct\{{contadorProducto}}" class="form-label">Ancho:</label>
                                                <div class="input-group input-group-sm has-validation">
                                                    <input type="text" name="widthproduct\{{contadorProducto}}" id="widthproduct\{{contadorProducto}}" value="0" class="form-control border-dark border-2 rounded widthproduct">
                                                </div>
                                            </div>
                                        </div>
                                    \{{/equal}}
                                \{{/equal}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    \{{/with}}
</script>

<script type="text/x-handlebars-template" id="preview">
    <div class="row p-4 gy-4 justify-content-md-between">
        <div class="col-md-5">
            <div class="row">
                <img src="/img/PIMSAlogo.png" alt="Logo PIMSA" class="img-fluid d-block mx-auto">
            </div>
            <div class="row mt-4">
                <div class="row m-0 text-center bg-danger text-white">
                    <p class="fs-6 p-2 m-0">Información de la cotización</p>
                </div>
                <table class="table table-responsive-md align-middle table-light m-0">
                    <tbody>
                        \{{#with cotizacion}}
                            <tr>
                                <th scope="row">Fecha:</th>
                                <td>\{{formatDate fecha}}</td>
                                <th scope="row">Estatus:</th>
                                <td>\{{estatus}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Proyecto:</th>
                                <td colspan="3">\{{proyecto}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Solicitante:</th>
                                <td colspan="3">\{{solicitante}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Empleado:</th>
                                <td colspan="3">\{{empleado}}</td>
                            </tr>
                        \{{else}}
                            <tr>
                                <td colspan="4" class="text-center">No existe información sobre la cotización</td>
                            </tr>
                        \{{/with}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="row m-0 text-center bg-danger text-white">
                    <p class="fs-6 p-2 m-0">Información del cliente</p>
                </div>
                <table class="table table-responsive-md align-middle table-light m-0">
                    <tbody>
                        \{{#with cliente}}
                            <tr>
                                <th scope="row" class="col-md-3">Cliente:</th>
                                <td colspan="3">\{{nombre}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Empresa:</th>
                                <td colspan="3">\{{razonSocial}}</td>
                            </tr>
                            <tr>
                                <th scope="row">RFC:</th>
                                <td colspan="3">\{{rfc}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Estado:</th>
                                <td>\{{domEstado}}</td>
                                <th scope="row" class="col-md-2">Municipio:</th>
                                <td>\{{domCiudad}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Colonia:</th>
                                <td>\{{domColonia}}</td>
                                <th scope="row">Código postal:</th>
                                <td>\{{domCp}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Calle:</th>
                                <td>\{{domCalle}}</td>
                                <th scope="row">Número:</th>
                                <td>\{{domNumEx}} \{{#if domNumIn}}Int \{{domNumIn}}\{{/if}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Teléfono:</th>
                                <td colspan="3">\{{#if telefonoExt}}Ext \{{telefonoExt}}\{{/if}} \{{telefono}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Correo electrónico:</th>
                                <td colspan="3">\{{correoElec}}</td>
                            </tr>
                        \{{else}}
                            <td colspan="4" class="text-center">No existe información sobre el cliente</td>
                        \{{/with}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row p-4 pt-0 justify-content-md-between">
        <div class="row m-0 text-center bg-danger text-white">
            <p class="fs-6 p-2 m-0">Información de los productos</p>
        </div>
        <div class="table-responsive overflow-y-auto p-0">
            <table class="table table-responsive-md align-middle table-light">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio por unidad</th>
                        <th scope="col">Dimensiones</th>
                        <th scope="col">Precio c/u</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    \{{#each productos}}
                        \{{#equal unitproduct "Mt"}}
                            <tr>
                                <th scope="row" class="text-center">\{{quantityproduct}}</th>
                                <td>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Producto:</b> 
                                        </div>
                                        <div class="col-md-6">
                                            \{{nameproduct}}
                                        </div>
                                    </div>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Acabados:</b>
                                        </div>
                                        <div class="col-md-6">
                                            \{{coatingproduct}}
                                        </div>
                                    </div>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Archivo:</b>
                                        </div>
                                        <div class="col-md-6">
                                            \{{fileproduct}}
                                        </div>
                                    </div>
                                </td>
                                <td>$ \{{formatNumber priceproduct}} (x \{{unitproduct}}²)</td>
                                <td>
                                    <div class="row m-0">
                                        \{{formatNumberMeasure measure}} mts²
                                    </div>
                                    <div class="row m-0">
                                        (L) \{{formatNumberMeasure lengthproduct}} mts x (A) \{{formatNumberMeasure widthproduct}} mts
                                    </div>
                                </td>
                                <td>$ \{{formatNumber priceach}}</td>
                                <td>$ \{{formatNumber amount}}</td>
                            </tr>
                        \{{else}}
                            <tr>
                                <th scope="row" class="text-center">\{{quantityproduct}}</th>
                                <td>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Producto:</b> 
                                        </div>
                                        <div class="col-md-6">
                                            \{{nameproduct}}
                                        </div>
                                    </div>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Acabados:</b>
                                        </div>
                                        <div class="col-md-6">
                                            \{{coatingproduct}}
                                        </div>
                                    </div>
                                    <div class="row mb-2 mb-md-0">
                                        <div class="col-md-3">
                                            <b>Archivo:</b>
                                        </div>
                                        <div class="col-md-6">
                                            \{{fileproduct}}
                                        </div>
                                    </div>
                                </td>
                                <td>$ \{{formatNumber priceproduct}} (x \{{unitproduct}})</td>
                                <td>No aplica</td>
                                <td>$ \{{formatNumber priceproduct}}</td>
                                <td>$ \{{formatNumber amount}}</td>
                            </tr>
                        \{{/equal}}
                    \{{else}}
                        <tr>
                            <td colspan="6" class="text-center">No existen productos cotizados</td>
                        </tr>
                    \{{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row p-4 gy-4 pt-0 justify-content-md-between">
        <div class="col-md-8">
            \{{#with cotizacion}}
                <p class="fs-6"><b>Observaciones:</b></p>
                \{{observaciones}}
            \{{else}}
                <p class="fs-6"><b>Sin información sobre las observaciones</b></p>
            \{{/with}}
        </div>
        <div class="col-md-3 p-0">
            \{{#with cotizacion}}
                <table class="table-responsive-md align-middle table-light w-100">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Bruto:</th>
                            <td class="text-end">$ \{{formatNumber totalBruto}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Descuento (\{{formatNumber porcentajeDescuento}} %):</th>
                            <td class="text-end">- $ \{{formatNumber descuento}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Subtotal:</th>
                            <td class="text-end">$ \{{formatNumber subtotal}}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">IVA (16 %):</th>
                            <td class="text-end">+ $ \{{formatNumber iva}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row m-0 pt-4">
                    <div class="col-md-12 p-0 text-center border border-dark border-2">
                        <p class="fs-4 p-2 m-0 pb-0">Total:</p>
                        <p class="fs-4 p-2 m-0 pt-0">$ \{{formatNumber total}}</p>
                    </div>
                </div>
            \{{else}}
                <td class="2">No existe información sobre la cotización</td>
            \{{/with}}
        </div>
    </div>
</script>