<div class="row p-3" id="machine-title">
    <h1 class="display-6 text-uppercase fw-semibold m-0"><i class="bi bi-journals"></i> Cotizaciones</h1>
</div>
<div class="row p-4">
    <p class="fs-5 p-2 m-0" id="machine-add-title">Cotizaciones registradas</p>
</div>
<div class="row px-4 pt-0 pb-4">
    <div class="table-responsive-xxl p-0">
        <table class="table table-striped align-middle" id="quotations-table">
            <thead>
                <tr>
                    <th scope="col">No. Cotización</th>
                    <th scope="col">Fecha y hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Monto total</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Empleado</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each cotizaciones}}
                    <tr>
                        <th scope="row">
                            {{#checkPermission ../user.permisos "seeListQuotations"}}
                                <a class="icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(0, -.15rem, 0); --bs-link-hover-color-rgb: 237, 10, 63;" href="quotations/info/{{cotId}}">
                                    <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                    COT-{{cotId}}
                                </a>
                            {{else}}
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                                    <a class="icon-link link-underline link-underline-opacity-0 pe-none" style="--bs-link-opacity: .80;">
                                        <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                        COT-{{cotId}}
                                    </a>
                                </span>
                            {{/checkPermission}}
                        </th>
                        <td>{{formatDateShort fecha}}</td>
                        <td class="text-start">
                            <div class="row">
                                <div class="col-md-12">
                                    {{#checkPermission ../user.permisos "seeListClients"}}
                                        <a class="icon-link icon-link-hover link-underline link-underline-opacity-0" style="--bs-icon-link-transform: translate3d(0, -.15rem, 0); --bs-link-hover-color-rgb: 237, 10, 63;" href="clients/infoClient/{{clienteId}}">
                                            <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                            {{nombre}}
                                        </a>
                                    {{else}}
                                        <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
                                            <a class="icon-link link-underline link-underline-opacity-0 pe-none" style="--bs-link-opacity: .80;">
                                                <i class="bi bi-box-arrow-in-up-right mb-auto"></i>
                                                {{nombre}}
                                            </a>
                                        </span>
                                    {{/checkPermission}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pe-md-0">
                                    <b>Proyecto:</b>
                                </div>
                                <div class="col-md-7 ps-md-0">
                                    {{proyecto}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 pe-md-0">
                                    <b>Solicitante:</b>
                                </div>
                                <div class="col-md-7 ps-md-0">
                                    {{solicitante}}
                                </div>
                            </div>
                        </td>
                        <td>$ {{formatNumber total}}</td>
                        {{#equal estatus "Generada"}}
                            <td class="text-info">{{estatus}}</td>
                        {{/equal}}
                        {{#equal estatus "Cancelada"}}
                            <td class="text-danger">{{estatus}}</td>
                        {{/equal}}
                        {{#equal estatus "Orden cancelada"}}
                            <td class="text-danger">{{estatus}}</td>
                        {{/equal}}
                        {{#equal estatus "Ordenada"}}
                            <td class="text-success">{{estatus}}</td>
                        {{/equal}}
                        {{#equal estatus "Enviada"}}
                            <td class="text-warning">{{estatus}}</td>
                        {{/equal}}
                        {{#equal estatus "Recotizada"}}
                            <td class="text-warning">{{estatus}}</td>
                        {{/equal}}
                        <td>{{empleado}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td class="d-none"></td>
                        <td colspan="6">No existen cotizaciones registradas</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="d-none" id="quotations-add-button">
    {{#checkPermission user.permisos "addQuotations"}}
        <a href="/quotations/add" class="btn btn-outline-success border-success border-2 float-md-end mb-3 mb-md-0" role="button"><i class="bi bi-bag-plus"></i> Cotizar</a>
    {{else}}
        <span class="d-inline-block float-md-end mb-3 mb-md-0" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Acceso denegado">
            <a href="/quotations/add" class="btn btn-outline-success border-success border-2 disabled" role="button" tabindex="-1" aria-disabled="true"><i class="bi bi-bag-plus"></i> Cotizar</a>
        </span>
    {{/checkPermission}}
</div>